
/* navigation section */
header {
    font-size: 1em;

}
header nav {
    display: flex;
    justify-content: space-between;
   padding: 10px 15px; 
   font-size: 1em;
}
header nav .nav-right {
    display: flex;
    align-items: center;

}
header nav .nav-right a {
    color: #444;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 1.1em;
}
header nav .nav-left .regester-login-btn{
border: 1px solid rgb(218, 218, 218);
background-color: rgb(250, 250, 250);
padding: 5px 8px;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;

}
header nav .nav-left .regester-login-btn i{
margin: 7px;
color: #444;
font-size: 1.1em;
}
header nav .nav-left .regester-login-btn a {
color: #444;
margin: 0px 10px;
font-size: .9em;
}

/* slider section */

.slider {
    position: relative;  
}

/*.slider .slides */

.slider .slides .item {
    position: relative;
    display: none;

}
.slider .slides .item img {
    width: 100%;
}
.slider .slides .active {
    display: block;
    animation-name: fadeInLeft;
    animation-duration: .5s;
    
}
.slider .buttons {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
}
.slider .buttons i {
    color: rgb(255, 255, 255);
    margin-right: 5px;
    cursor: pointer;
    font-size: .9em;
}
.slider .buttons i:hover {
    color: rgb(255, 255, 255, .4);
}

/* product section*/

.product-sec-new {
    background-color: rgb(247, 247, 247);
    padding: 15px , 15px ;
    font-size: 1em;
   
}
.product-sec-new .row {
    --bs-gutter-x: 0;
}
.product-sec-new .shoping-card{
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
    margin: 10px 10px;
    border-radius: 5px;
    padding: 10px; 
}
.product-sec-new .off-title{
    background-color: rgb(255, 68, 68);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right:-2px;
    top: 7px;
    font-size: 1em;
    margin-top: -5px;
}
.shoping-card .img-sec{
    position: relative;
    padding-top: 40px;
    padding-bottom: 5px;
}
.shoping-card .img-sec img{
    width: 60%
}
.shoping-card .img-sec .hot-offer{
    background-color: rgb(255, 68, 68);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    position: absolute;
    right:-2px;
    top: 7px;
    font-size: 0.9em;
    margin-top: -5px;
}

.shoping-card .img-sec .stars{
    position:absolute;
    left:5px;
    top:5px;
    color: rgb(255, 174, 0);
}

.shoping-card .title{
    font-weight: bold;
    color: #333;
    margin:5px
    
}

.shoping-card .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 15px;
}
.shoping-card .buttons .right .price{
    color: #444;
}
.shoping-card .buttons .extend-btn{
    display: flex;
    margin-left: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.75s;
    
}
.shoping-card .buttons .extend-btn:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}
.shoping-card .buttons .extend-btn a{
    color: rgb(253, 74, 74);
    padding: 5px 5px;
}

/* footer */

.footer-shop{
    text-align:center;
    width: 100%;
    background:#ffffff;
    padding:30px 0px;
    bottom: 0;
    color: #444;
    }
    
.row-footer{
    margin:5px;
    padding:2px;
    color:rgb(39, 39, 39);
    font-size:1em;
    text-align:center;
    }
.row-footer a{
    color:rgb(39, 39, 39);
}    
.row-footer a:hover{
    color: dodgerblue;
    }
    
.row-footer ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
.row-footer a i{
    font-size:2em;
    margin:10px;
    }